* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  position: relative;
  z-index: -3;
}

html .header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
html .header .container {
  display: flex;
  align-items: center;
}
html .header .container .header-logo {
  margin-right: 25px;
}
html .header .container .header-logo img {
  weight: 30px;
  height: 30px;
}
html .header .container .header-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
html .header .container .header-menu ul {
  display: flex;
}
html .header .container .header-menu ul li {
  margin-right: 15px;
}
html .header .container .header-menu ul li a {
  display: block;
  padding: 17px 0 15px;
  color: rgba(0, 0, 0, 0.5490196078);
  border-bottom: 2px solid transparent;
}
html .header .container .header-menu ul li a:hover {
  color: #1a1a1a;
}
html .header .container .header-menu ul li .active {
  color: #1a1a1a !important;
  border-bottom: 2px solid #1a1a1a !important;
}
html .header .container .header-function {
  display: flex;
  align-items: center;
}
html .header .container .header-function .header-sound-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #fe904d;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
html .header .container .header-function .header-sound-btn i {
  color: #fedd59;
  margin-left: 2px;
  margin-top: 1px;
  transition: scale 0.1s;
}
html .header .container .header-function .header-sound-btn i.pause {
  position: absolute;
  scale: 0;
}
html .header .container .header-function .header-sound-btn i.play {
  scale: 1;
}
html .header .container .header-function .play i.pause {
  margin: 0;
  scale: 1;
}
html .header .container .header-function .play i.play {
  scale: 0;
}
html .header .container .header-function .header-appearance {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #444444;
  position: relative;
  cursor: pointer;
  transition: background-color 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
html .header .container .header-function .header-appearance img {
  transition: 0.5s;
  transition-property: scale rotate;
}
html .header .container .header-function .header-appearance img.sun {
  scale: 0;
  position: absolute;
}
html .header .container .header-function .header-appearance img.moon {
  scale: 1;
}
html .header .container .header-function .header-user {
  margin-left: 15px;
}
html .header .container .header-function .header-user a {
  display: block;
  position: relative;
  padding: 2px;
  background: linear-gradient(180deg, #ffd900, #b45264 93.68%);
  border-radius: 50%;
}
html .header .container .header-function .header-user a::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 14px;
  top: -3px;
  right: -8px;
  background: url("../images/cap.svg") no-repeat center/cover;
  background-size: 100%;
}
html .header .container .header-function .header-user a img {
  weight: 30px;
  height: 30px;
  border-radius: 50%;
}
html .content-wrapper {
  background-color: #fafafa;
  position: relative;
  z-index: -2;
}
html .content-wrapper .ranking {
  padding: 30px 0;
  min-height: 100vh;
}
html .content-wrapper .ranking .container {
  max-width: 1000px;
}
html .content-wrapper .ranking .container .ranking-header .ranking-title {
  color: rgba(0, 0, 0, 0.6509803922);
  font-size: 30px;
  font-weight: 600;
}
html .content-wrapper .ranking .container .ranking-content .ranking-content-function {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
html .content-wrapper .ranking .container .ranking-content .ranking-content-function .ranking-total-user,
html .content-wrapper .ranking .container .ranking-content .ranking-content-function .ranking-last-day {
  text-align: right;
  font-size: 14px;
  color: #808080;
  margin-left: 30px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list-header {
  text-align: right;
  padding-right: 15px;
  font-size: 12px;
  color: #808080;
  margin-bottom: 15px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #dddddd;
  padding: 15px;
  cursor: pointer;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item:hover {
  background-color: #f5f5f5;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item .ranking-number {
  color: rgba(0, 0, 0, 0.6509803922);
  width: 20px;
  margin-right: 10px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item .ranking-avatar {
  margin-right: 15px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item .ranking-avatar img {
  weight: 35px;
  height: 35px;
  border-radius: 50%;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item .ranking-name {
  flex-grow: 1;
  color: #5a5a5a;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item .ranking-name div {
  width: fit-content;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item-detail {
  background-color: #e3e3e3;
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item-detail .item-detail-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 15px 45px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item-detail .item-detail-list li {
  display: flex;
  justify-content: space-between;
  padding: 15px 45px;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .ranking-item-detail .item-detail-list li:first-child {
  padding-top: 0;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li .show {
  height: 200px;
  overflow: auto;
  scrollbar-width: none;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(1) .ranking-item .ranking-avatar, html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(3) .ranking-item .ranking-avatar, html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(2) .ranking-item .ranking-avatar {
  position: relative;
  padding: 2px;
  background: linear-gradient(0deg, #bba222, #eeda95);
  border-radius: 50%;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(1) .ranking-item .ranking-avatar::after, html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(3) .ranking-item .ranking-avatar::after, html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(2) .ranking-item .ranking-avatar::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/gold-person.svg") no-repeat center/cover;
  background-size: 100%;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(2) .ranking-item .ranking-avatar {
  background: linear-gradient(0deg, #979797, #c5c8d0);
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(2) .ranking-item .ranking-avatar::after {
  background: url("../images/silver-person.svg") no-repeat center/cover;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(3) .ranking-item .ranking-avatar {
  background: linear-gradient(0deg, #aa7c36, #edc282);
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:nth-child(3) .ranking-item .ranking-avatar::after {
  background: url("../images/bronze-person.svg") no-repeat center/cover;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:first-child .ranking-item {
  border-radius: 10px 10px 0 0;
}
html .content-wrapper .ranking .container .ranking-content .ranking-list li:last-child .ranking-item {
  border-radius: 0 0 10px 10px;
}
html .content-wrapper .ranking .container .ranking-content .animation li .ranking-item .ranking-number {
  animation: rotateAllTag 1s infinite linear;
}
html .content-wrapper .ranking .container .ranking-content .animation li .ranking-item .ranking-avatar {
  animation: rotateAllTag 1s infinite linear;
}
html .content-wrapper .ranking .container .ranking-content .animation li .ranking-item .ranking-name div {
  animation: rotateATag 1s infinite linear;
}
html .content-wrapper .ranking .container .ranking-content .animation li .ranking-item .ranking-point {
  animation: rotateAllTag 1s infinite linear;
}
html .content-wrapper .ranking .container .ranking-content .animation::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
  background-size: 400%;
  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes rotateAllTag {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateATag {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
html .content-wrapper .ranking .container .ranking-content .animation::after {
  filter: blur(60px);
}
html .footer {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 12px;
}
html .footer .container {
  display: flex;
  align-items: center;
}
html .footer .container .footer-copyright {
  color: #757575;
}
html .footer .container .footer-menu {
  flex-grow: 1;
}
html .footer .container .footer-menu .footer-nav ul {
  display: flex;
}
html .footer .container .footer-menu .footer-nav ul li {
  margin: 20px 0;
}
html .footer .container .footer-menu .footer-nav ul li a {
  color: #757575;
  padding: 0 15px;
  border-right: 1px solid #757575;
}
html .footer .container .footer-menu .footer-nav ul li a:hover {
  color: #000000;
  text-decoration: underline;
}
html .footer .container .footer-menu .footer-nav ul li:last-child a {
  border-right: none;
}
html .footer .container .footer-region {
  display: flex;
  align-items: center;
}
html .footer .container .footer-region .footer-region-img {
  height: 20px;
  margin: 0 10px;
}
html .footer .container .footer-region .footer-region-name {
  color: #424242;
}
html .footer .container .footer-region .footer-region-name:hover {
  color: #000000;
  text-decoration: underline;
}

html.dark .header {
  border-bottom: none;
  background-color: #1a1a1a;
}
html.dark .header .container .header-menu ul li a {
  color: rgba(255, 255, 255, 0.4);
}
html.dark .header .container .header-menu ul li a:hover {
  color: #f5f5f5;
}
html.dark .header .container .header-menu ul li .active {
  color: #f5f5f5 !important;
  border-bottom: 2px solid #f5f5f5 !important;
}
html.dark .header .container .header-function .header-appearance {
  background-color: #d9d9d9;
}
html.dark .header .container .header-function .header-appearance img {
  rotate: 270deg;
}
html.dark .header .container .header-function .header-appearance img.sun {
  scale: 1;
}
html.dark .header .container .header-function .header-appearance img.moon {
  scale: 0;
}
html.dark .content-wrapper {
  background-color: rgb(40, 40, 40);
}
html.dark .content-wrapper .ranking .ranking-header .ranking-title {
  color: #fff;
  font-weight: 500;
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list {
  background-color: rgb(25, 25, 25);
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list li .ranking-item {
  border-bottom: 1px dotted #3c3c3c;
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list li .ranking-item:hover {
  background-color: rgb(35, 35, 35);
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list li .ranking-item .ranking-number {
  color: rgba(239, 242, 246, 0.6);
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list li .ranking-item .ranking-name {
  color: rgba(239, 241, 246, 0.7490196078);
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list li .ranking-item .ranking-point {
  color: #fff;
}
html.dark .content-wrapper .ranking .ranking-content .ranking-list li .ranking-item-detail {
  background-color: #000;
  color: #fff;
}
html.dark .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #1a1a1a;
}
html.dark .footer .container .footer-copyright {
  color: rgba(255, 255, 255, 0.4);
}
html.dark .footer .container .footer-menu .footer-nav ul li a {
  color: rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
html.dark .footer .container .footer-menu .footer-nav ul li a:hover {
  color: #f5f5f5;
}
html.dark .footer .container .footer-menu .footer-nav ul li:last-child a {
  border-right: none;
}
html.dark .footer .container .footer-region .footer-region-name {
  color: rgba(255, 255, 255, 0.4);
}
html.dark .footer .container .footer-region .footer-region-name:hover {
  color: #f5f5f5;
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
