* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

.active {
  color: #1a1a1a !important;
  border-bottom: 2px solid #1a1a1a !important;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
}
.header .container .header-logo {
  margin-right: 25px;
}
.header .container .header-logo img {
  weight: 30px;
  height: 30px;
}
.header .container .header-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header .container .header-menu ul {
  display: flex;
}
.header .container .header-menu ul li {
  margin-right: 15px;
}
.header .container .header-menu ul li a {
  display: block;
  padding: 17px 0 15px;
  color: rgba(0, 0, 0, 0.5490196078);
  border-bottom: 2px solid transparent;
}
.header .container .header-menu ul li a:hover {
  color: #1a1a1a;
}
.header .container .header-function {
  margin-left: 2rem;
}
.header .container .header-function .header-user img {
  weight: 30px;
  height: 30px;
  border-radius: 50%;
}

.content-wrapper {
  background-color: #fafafa;
}
.content-wrapper .ranking {
  padding: 30px 0;
  min-height: 100vh;
}
.content-wrapper .ranking .ranking-header .ranking-title {
  color: rgba(0, 0, 0, 0.6509803922);
  font-size: 30px;
  font-weight: 600;
}
.content-wrapper .ranking .ranking-content .ranking-total-user {
  text-align: right;
  font-size: 14px;
  color: #808080;
  margin-bottom: 20px;
}
.content-wrapper .ranking .ranking-content .ranking-list-header {
  text-align: right;
  padding-right: 15px;
  font-size: 12px;
  color: #808080;
}
.content-wrapper .ranking .ranking-content .ranking-list li {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #dddddd;
  padding: 15px;
}
.content-wrapper .ranking .ranking-content .ranking-list li .ranking-number {
  color: rgba(0, 0, 0, 0.6509803922);
  width: 20px;
  margin-right: 25px;
}
.content-wrapper .ranking .ranking-content .ranking-list li .ranking-avatar {
  margin-right: 15px;
}
.content-wrapper .ranking .ranking-content .ranking-list li .ranking-avatar img {
  weight: 35px;
  height: 35px;
  border-radius: 50%;
}
.content-wrapper .ranking .ranking-content .ranking-list li .ranking-name {
  flex-grow: 1;
  color: #5a5a5a;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 12px;
}
.footer .container {
  display: flex;
  align-items: center;
}
.footer .container .footer-copyright {
  margin-right: 25px;
  color: #757575;
}
.footer .container .footer-menu {
  flex-grow: 1;
}
.footer .container .footer-menu .footer-nav ul {
  display: flex;
}
.footer .container .footer-menu .footer-nav ul li {
  margin: 20px 0;
}
.footer .container .footer-menu .footer-nav ul li a {
  color: #757575;
  padding: 0 15px;
  border-right: 1px solid #757575;
}
.footer .container .footer-menu .footer-nav ul li a:hover {
  color: #000000;
  text-decoration: underline;
}
.footer .container .footer-menu .footer-nav ul li:last-child a {
  border-right: none;
}
.footer .container .footer-region {
  display: flex;
  align-items: center;
}
.footer .container .footer-region .footer-region-img {
  height: 20px;
  margin: 0 10px;
}
.footer .container .footer-region .footer-region-name {
  color: #424242;
}
.footer .container .footer-region .footer-region-name:hover {
  color: #000000;
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
