@use "partials/variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// outline: 1px solid #ccc;
}

a {
	text-decoration: none;
	color: inherit;
}
ul,
ol {
	list-style: none;
}
body {
	font-family: "Arial", sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
img {
	display: block;
	max-width: 100%;
}
body {
	position: relative;
	z-index: -3;
}
html {
	.header {
		position: sticky;
		left: 0;
		top: 0;
		background-color: #fff;
		z-index: 10;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		.container {
			display: flex;
			align-items: center;
			.header-logo {
				margin-right: 25px;
				img {
					weight: 30px;
					height: 30px;
				}
			}
			.header-menu {
				display: flex;
				align-items: center;
				flex-grow: 1;
				ul {
					display: flex;
					li {
						margin-right: 15px;
						a {
							display: block;
							padding: 17px 0 15px;
							color: #0000008c;
							border-bottom: 2px solid transparent;
							&:hover {
								color: #1a1a1a;
							}
						}
						.active {
							color: #1a1a1a !important;
							border-bottom: 2px solid #1a1a1a !important;
						}
					}
				}
			}
			.header-function {
				display: flex;
				align-items: center;
				.header-sound-btn {
					width: 34px;
					height: 34px;
					border-radius: 50%;
					margin-left: 15px;
					background-color: #fe904d;
					position: relative;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						color: #fedd59;
						margin-left: 2px;
						margin-top: 1px;
						transition: scale 0.1s;
						&.pause {
							position: absolute;
							scale: 0;
						}
						&.play {
							scale: 1;
						}
					}
				}
				.play {
					i {
						&.pause {
							margin: 0;
							scale: 1;
						}
						&.play {
							scale: 0;
						}
					}
				}
				.header-appearance {
					width: 34px;
					height: 34px;
					border-radius: 50%;
					margin-left: 15px;
					background-color: #444444;
					position: relative;
					cursor: pointer;
					transition: background-color 1s;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						transition: 0.5s;
						transition-property: scale rotate;
						&.sun {
							scale: 0;
							position: absolute;
						}
						&.moon {
							scale: 1;
						}
					}
				}
				.header-user {
					margin-left: 15px;
					a {
						display: block;
						position: relative;
						padding: 2px;
						background: linear-gradient(180deg, #ffd900, #b45264 93.68%);
						border-radius: 50%;
						&::after {
							content: "";
							position: absolute;
							display: block;
							width: 12px;
							height: 14px;
							top: -3px;
							right: -8px;
							background: url("../images/cap.svg") no-repeat center/cover;
							background-size: 100%;
						}
						img {
							weight: 30px;
							height: 30px;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
	.content-wrapper {
		background-color: #fafafa;
		position: relative;
		z-index: -2;
		.ranking {
			padding: 30px 0;
			min-height: 100vh;
			.container {
				max-width: 1000px;
				.ranking-header {
					.ranking-title {
						color: #000000a6;
						font-size: 30px;
						font-weight: 600;
					}
				}
				.ranking-content {
					.ranking-content-function {
						display: flex;
						justify-content: flex-end;
						margin: 20px 0;
						.ranking-total-user,
						.ranking-last-day {
							text-align: right;
							font-size: 14px;
							color: #808080;
							margin-left: 30px;
						}
					}
					.ranking-list-header {
						text-align: right;
						padding-right: 15px;
						font-size: 12px;
						color: #808080;
						margin-bottom: 15px;
					}
					.ranking-list {
						position: relative;
						background-color: #fff;
						border-radius: 10px;
						li {
							.ranking-item {
								display: flex;
								align-items: center;
								border-bottom: 1px dotted #dddddd;
								padding: 15px;
								cursor: pointer;
								&:hover {
									background-color: #f5f5f5;
								}
								.ranking-number {
									color: #000000a6;
									width: 20px;
									margin-right: 10px;
								}
								.ranking-avatar {
									margin-right: 15px;
									img {
										weight: 35px;
										height: 35px;
										border-radius: 50%;
									}
								}
								.ranking-name {
									flex-grow: 1;
									color: #5a5a5a;
									div {
										width: fit-content;
									}
								}
								.ranking-point {
								}
							}
							.none-border-radius {
								border-radius: 0 !important;
							}
							.ranking-item-detail {
								background-color: #e3e3e3;
								height: 0;
								overflow: hidden;
								transition: height 0.2s;
								.item-detail-header {
									display: flex;
									justify-content: space-between;
									font-size: 12px;
									padding: 15px 45px;
								}
								.item-detail-list {
									li {
										display: flex;
										justify-content: space-between;
										padding: 15px 45px;
										&:first-child {
											padding-top: 0;
										}
									}
								}
							}
							.show {
								height: 200px;
								overflow: auto;
								scrollbar-width: none;
							}
							.border-radius {
								border-radius: 0 0 10px 10px;
							}
							&:nth-child(1) {
								.ranking-item {
									.ranking-avatar {
										position: relative;
										padding: 2px;
										background: linear-gradient(0deg, #bba222, #eeda95);
										border-radius: 50%;
										&::after {
											content: "";
											position: absolute;
											display: block;
											width: 20px;
											height: 20px;
											top: -8px;
											left: 50%;
											transform: translateX(-50%);
											background: url("../images/gold-person.svg") no-repeat center/cover;
											background-size: 100%;
										}
									}
								}
							}
							&:nth-child(2) {
								@extend :nth-child(1);
								.ranking-item {
									.ranking-avatar {
										background: linear-gradient(0deg, #979797, #c5c8d0);
										&::after {
											background: url("../images/silver-person.svg") no-repeat center/cover;
										}
									}
								}
							}
							&:nth-child(3) {
								@extend :nth-child(1);
								.ranking-item {
									.ranking-avatar {
										background: linear-gradient(0deg, #aa7c36, #edc282);
										&::after {
											background: url("../images/bronze-person.svg") no-repeat center/cover;
										}
									}
								}
							}
							&:first-child {
								.ranking-item {
									border-radius: 10px 10px 0 0;
								}
							}
							&:last-child {
								.ranking-item {
									border-radius: 0 0 10px 10px;
								}
							}
						}
					}
					.animation {
						//rotate
						li {
							.ranking-item {
								.ranking-number {
									animation: rotateAllTag 1s infinite linear;
								}
								.ranking-avatar {
									animation: rotateAllTag 1s infinite linear;
								}
								.ranking-name {
									div {
										animation: rotateATag 1s infinite linear;
									}
								}
								.ranking-point {
									animation: rotateAllTag 1s infinite linear;
								}
							}
						}
						//glow
						&::after {
							content: "";
							position: absolute;
							top: 5px;
							left: 5px;
							width: calc(100% - 10px);
							height: calc(100% - 10px);
							border-radius: 10px;
							background: linear-gradient(
								45deg,
								#e6fb04,
								#ff6600,
								#00ff66,
								#00ffff,
								#ff00ff,
								#ff0099,
								#6e0dd0,
								#ff3300,
								#099fff
							);
							background-size: 400%;
							z-index: -1;
							animation: animate 20s linear infinite;
						}
					}
					//keyframes for rotate
					@keyframes rotateAllTag {
						0% {
							transform: rotate(0deg);
						}
						25% {
							transform: rotate(-15deg);
						}
						50% {
							transform: rotate(0deg);
						}
						75% {
							transform: rotate(15deg);
						}
						100% {
							transform: rotate(0deg);
						}
					}
					@keyframes rotateATag {
						0% {
							transform: rotate(0deg);
						}
						25% {
							transform: rotate(-5deg);
						}
						50% {
							transform: rotate(0deg);
						}
						75% {
							transform: rotate(5deg);
						}
						100% {
							transform: rotate(0deg);
						}
					}
					//keyframes for glow
					@keyframes animate {
						0% {
							background-position: 0 0;
						}
						50% {
							background-position: 400% 0;
						}
						100% {
							background-position: 0 0;
						}
					}
					.animation::after {
						filter: blur(60px);
					}
				}
			}
		}
	}
	.footer {
		background-color: #fff;
		border-top: 1px solid rgba(0, 0, 0, 0.08);
		font-size: 12px;
		.container {
			display: flex;
			align-items: center;
			.footer-copyright {
				color: #757575;
			}
			.footer-menu {
				flex-grow: 1;
				.footer-nav {
					ul {
						display: flex;
						li {
							margin: 20px 0;
							a {
								color: #757575;
								padding: 0 15px;
								border-right: 1px solid #757575;
								&:hover {
									color: #000000;
									text-decoration: underline;
								}
							}
							&:last-child {
								a {
									border-right: none;
								}
							}
						}
					}
				}
			}
			.footer-region {
				display: flex;
				align-items: center;
				.footer-region-img {
					height: 20px;
					margin: 0 10px;
				}
				.footer-region-name {
					color: #424242;
					&:hover {
						color: #000000;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
html.dark {
	.header {
		border-bottom: none;
		background-color: #1a1a1a;
		.container {
			.header-menu {
				ul {
					li {
						a {
							color: variables.$text-tertiary;
							&:hover {
								color: variables.$dark-gray-100;
							}
						}
						.active {
							color: variables.$dark-gray-100 !important;
							border-bottom: 2px solid variables.$dark-gray-100 !important;
						}
					}
				}
			}
			.header-function {
				.header-appearance {
					background-color: #d9d9d9;
					img {
						rotate: 270deg;
						&.sun {
							scale: 1;
						}
						&.moon {
							scale: 0;
						}
					}
				}
			}
		}
	}
	.content-wrapper {
		background-color: rgb(40 40 40 / 1);
		.ranking {
			.ranking-header {
				.ranking-title {
					color: #fff;
					font-weight: 500;
				}
			}
			.ranking-content {
				.ranking-list {
					background-color: rgb(25, 25, 25);
					li {
						.ranking-item {
							border-bottom: 1px dotted #3c3c3c;
							&:hover {
								background-color: rgb(35, 35, 35);
							}
							.ranking-number {
								color: #eff2f699;
							}
							.ranking-name {
								color: #eff1f6bf;
							}
							.ranking-point {
								color: #fff;
							}
						}
						.ranking-item-detail {
							background-color: #000;
							color: #fff;
						}
					}
				}
			}
		}
	}
	.footer {
		border-top: 1px solid rgba(0, 0, 0, 0.08);
		background-color: #1a1a1a;
		.container {
			.footer-copyright {
				color: variables.$text-tertiary;
			}
			.footer-menu {
				.footer-nav {
					ul {
						li {
							a {
								color: variables.$text-tertiary;
								border-right: 1px solid variables.$text-tertiary;
								&:hover {
									color: variables.$dark-gray-100;
								}
							}
							&:last-child {
								a {
									border-right: none;
								}
							}
						}
					}
				}
			}
			.footer-region {
				.footer-region-name {
					color: variables.$text-tertiary;
					&:hover {
						color: variables.$dark-gray-100;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
