$opacity-white: #ffffff;
$opacity-white-70: #fff6;

$dark-gray-100: #f5f5f5;

$dark-brand-orange: #ffa116;

$text-primary: $dark-gray-100;
$text-tertiary: $opacity-white-70;
$border-tertiary: $opacity-white;
